body{
    width: 100vw;
    height: 100vh;
}
.p1{
    color: white;
    text-align: center;
}
.underline{
    text-decoration: underline;
    font-size: 3rem;
    text-align: left;
    color: white;
    margin-bottom: 5%;
}
.videos{
    margin-bottom: 3%;
}