body{
    width: 100%;
    margin: 0px;
    padding: 0%;
    background-color:rgb(92, 63, 197);
}
.header{
    position: relative;
}
.navbar{
    border: blue outset 0.5rem;
    box-shadow: black 5px 5px 5px;
    background-color: rgb(0, 0, 0);
    position: fixed;
    right: 0px;
    left: 0%;
    z-index: 999;
}
#title{
    margin-left: 1%;
    color: rgb(206, 221, 240);
}
#button1{
    margin-right: 1%;
}
.image{
    width: 100%;
}
#image1{
    width: 50%;
    margin-top: 2%;
    margin: auto;
    border: solid rgb(7, 7, 7) 3px; 
    display: block;  
    margin-bottom: 1%;
}
#image2{
    margin: auto;
    display: block;
    border: solid black 3px; 
    margin-top: 1%;
    margin-bottom: 3%;
}
.chap{
    text-align: center;
    color: white;
}
.chap0{
    text-align: justify;
    margin-left: 5%;
    margin-right: 5%;
    background: #002EB2;
    color: white;
}
.chap1{
     margin-left: 2%;
     margin-right: 5%;
     color: white;
}
.underline{
    text-decoration: underline;
    font-size: 1.5rem;
    text-align: left;
}
.underline1{
    text-decoration: underline;
    font-size: 1rem;
    margin-left: 0%;
}
#generale{
    margin-left: 44.5%;
}
.pictures{
    width: 7%;
}
.liste{
    list-style: none;
}
.ranks{

}
.card-header{
    background: #afadc9;
    color: black;
}
#astuces{
    color: rgb(3, 3, 3);
    width: 100%;
    margin-left: 2%;
    height: 100px;
    font-size: 200%;
}
.alignement{
    display: flex;
}
#button1{
    width: 10%;
    margin-left: 50%;
}
#button2{
    width: 10%;
    margin-right: 1%;
}


