body{
    width: 100%;
    margin: 0px;
    padding: 0%;
}
#title{
    text-align: left;
    border: blue outset 0.5rem;
    box-shadow: black 5px 5px 5px;
    margin-top: 0%;
}
.image{
    width: 100%;
}
#image1{
    width: 50%;
    margin-top: 2%;
    margin: auto;
    border: solid black 3px; 
    display: block;
}
.chap1{
     text-align: center;
     margin-left: 5%;
     margin-right: 5%;
}
.underline{
    text-decoration: underline;
    font-size: 1.5rem;
}
.pictures{
    width: 50px;
}
.chap1{
    background-color: rgba(201, 13, 6, 0.815);
    margin-left: 0%;
    margin-right: 0%;
}



