body{
    width: 100%;
    margin: 0px;
    padding: 0%;
    background-color: rgba(73, 9, 248, 0.575);
}
.header{
    position: relative;
}
.navbar{
    border: blue outset 0.5rem;
    box-shadow: black 5px 5px 5px;
    background-color: rgb(0, 0, 0);
    position: fixed;
    right: 0px;
    left: 0%;
}
#title{
    margin-left: 1%;
    color: rgb(206, 221, 240);
}
.image{
    width: 100%;
}
#image1{
    width: 50%;
    margin-top: 2%;
    margin: auto;
    border: solid black 3px; 
    display: block;  
}
#image2{
    margin: auto;
    display: block;
    border: solid black 3px; 
}
.chap0{
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 3%;
}
.chap1{
     text-align: center;
     margin-left: 5%;
     margin-right: 5%;
     margin-left: 0%;
     margin-right: 0%;
}
.underline{
    text-decoration: underline;
    font-size: 1.5rem;
}
.pictures{
    width: 50px;
}



